<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>
	
	<typeAliases>
		<typeAlias type="team_project.dong.vo.BoardVO" alias="board"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="team-project/dong/mapper/board.xml" />
		<mapper resource="team-project/Resume/resume.xml" />
	</mappers>
</configuration> 